<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="MyConnectionString"
             connectionString="Data Source=;Initial Catalog=student;Integrated Security=SSPI;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<appSettings>
		<add key="LogFolderPath" value="C:\Users\tanishkaf\Desktop\dotnetprac\A2\LogFileFolder" />
	</appSettings>
	
</configuration>
